<form method="POST" action="/events">
  <fieldset>
    <legend>New Event</legend>
    <!-- TITLE -->
    <p>
      <label for="title">Event Name</label><br>
      <input type="text" name="eventName" />
    </p>
    <p>
      <label for="desc">Description</label><br>
      <input type="text" name="desc" />
    </p>
    <p>
      <label for="location">Location</label><br>
      <input type="text" name="location" />
    </p>
    <p>
      <label for="game">Game</label><br>
      <input type="text" name="game" />
    </p>
    <p>
    <label for="imgUrl">Image Url</label><br>
    <input type="text" placeholder="" name="imgUrl" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Event</button>
  </p>

</form>